/*.fixedSection {
  position: sticky;
  z-index: 40;
}*/

.days {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: #47D3E5;
}

#day5:hover, #day6:hover, #day7:hover {
  cursor: pointer;
}

.day {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.3%;
	background: rgba(0,0,0, 0.1);
	color:white;
	height: 56px;

}
.day h2 {
	letter-spacing: 0.05em;
}

.disabled-day{
  background: rgb(195, 195, 195);
  /*background: rgba(0,0,0, 0.7);*/
}
.hidden {
	display: none;
}

#label-speaker-input {
	font-size: 1.25em;
}

.speakers-container {
	padding: 16px 24px;
	background: white;
}

.speaker-form {
	height: 66px;
	width: 24%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-flow: row wrap;
}
.speaker-agenda-inputautocomplete-list {
	z-index: 1000;
}
#speaker-input:focus {
	outline: none;
}

.themes {
  display: flex;
  padding: 16px 0 16px 4px;
  overflow-x: scroll;
  cursor: grab;
  background: white;
  z-index: 40;
  line-height: 1.7;
}

.theme {
  margin-right: 4px;
  min-width: 15%;
  min-height: 56px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  text-align: center;
}

.theme>h3 {
  font-size: 1.1rem
}

.theme:hover {
  /*cursor: pointer;*/
}
 .red {
 	background: rgb(188, 41, 30);
 }
 .blue {
 	background: rgb(6, 83, 163);

 }

 .black {
	background: rgb(16, 31, 38);
 }

 .purple {
	background: rgb(85, 57, 134);

 }

 .light-green {
	background: rgb(27, 205, 133);
 }

 .yellow {
	background: rgb(251, 221, 0);
 }
 .brown {
	background: rgb(200, 157, 102);
 }
 .pink {
	background: rgb(219, 178, 182);
 }
 .grey {
	background: rgb(63, 64, 66);
 }

.orange {
	background: rgb(241, 122, 32);
}
.green {
	background: rgb(0, 155, 72);
}
.light-blue {
	background: rgb(86, 141, 208);
}

.disable {
	opacity: 0.2;
}

.agenda-container {
  	display: grid;
  	width: 100%;
	grid-template-rows: 1fr;
	grid-template-columns: 100px 1fr;
	overflow-x: scroll;
	overflow-y: hidden;
	border-top: solid 0.5px #ccc;
	/*margin-top: 222px;*/
}
#timebar {
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 56px repeat(138, 20px);
	border-right: 1px solid #ccc;
}
.current-day{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
}
.timebar-title {
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;

}
.five-min {
	grid-row: auto / span 1;
	grid-column: 1;
	display: flex;
	justify-content: center;
	align-items: baseline;
	border-top:  0.5px solid #ccc;
  font-size: 0.8rem;
}
.room {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 56px repeat(138, 20px);
	border-right: 1px solid #ccc;
  min-width: 100px;
}

.room>h2 {
  font-size: 1rem;
}

.room>div>h3 {
  font-size: 1rem;
}

.room>div {
  border-radius: 4px;
  margin: -0.1px;
}

.painleve {
	grid-column: 1;

}

.say {
	grid-column: 2
}

.faure {
	grid-column: 3;
}

.gregoire {
	grid-column: 4;
}

.fourastie {
	grid-column: 5;
}

.classroom {
	grid-column: 6;
}

.room-title {
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #47D3E5;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
  margin-bottom: 1px;
}

.conference {
	grid-column: 1;
	color: white;
	font-style: italic;
	display: flex;
	align-items: center;
	padding: 4px 8px;
	box-shadow: 1px 3px 3px lightgrey;
}

.break {
	grid-column: 1;
	background: rgb(158, 84, 30);
	color: white;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 3px 3px lightgrey;

}

#conference1, #conference2, #conference3, #conference4, #conference5, #conference6, #conference7, #conference8, #conference9 {
  cursor: pointer;
  z-index: 1;
  position:relative;
}

#conference1-infos, #conference2-infos, #conference3-infos, #conference4-infos, #conference5-infos, #conference6-infos, #conference7-infos, #conference8-infos, #conference9-infos {
  position: absolute;
  background: #47D3E5;
  z-index: 2;
  border-radius: 12px;
  padding: 0px 10px;
  font-weight: 600;
  width: 80%;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
}

#conference1-infos>a, #conference2-infos>a, #conference3-infos>a, #conference4-infos>a, #conference5-infos>a, #conference6-infos>a, #conference7-infos>a, #conference8-infos>a, #conference9-infos>a {
  color: black;
  cursor: cell;
  z-index: 2;
  font-size: 0.8rem;
  line-height: 1 !important;
}

.lighter {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0);
}


#conference1 {
  grid-row: 2 / span 6;
}

#conference2 {
	grid-row: 9 / span 12;
}

#conference3 {
	grid-row: 22 / span 6;
}

#conference4 {
	grid-row: 29 / span 4;
}

#break1 {
	grid-row: 33 / span 12;
}

#conference5 {
	grid-row: 46 / span 4;
}

#conference6 {
	grid-row: 51 / span 4;
}

#conference7 {
	grid-row: 56/ span 24;
}

#break2 {
	grid-row: 80 / span 4;
}

#conference8 {
	grid-row:  84 / span 3;
}

#conference9 {
	grid-row:  88 / span 6;
}

.hr-separator {
  color: #ccc;
}

.SlotHidden {
  visibility: hidden;
  position: absolute;
  height: 100%:
  width: 100%;
}

/*.scroll-start {
  position: absolute;
  left: 0;
  background: transparent;
  border: solid 1px red;
  height: 100% !important;
  width: 30px !important;
  border-radius: 0;
}

.scroll-end {
  position: absolute;
  right: 0;
  background: transparent;
  border: solid 1px red;
  height: 100% !important;
  width: 30px !important;
  border-radius: 0;
}
*/
