.days {
	width: 100%;
	display: flex;
	justify-content: space-between;
	
	background: #47D3E5;
	
}

.day {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.3%;
	background: rgb(50,50,50);
	color:white;
	height: 80px;

}
.day h2 {
	letter-spacing: 0.05em;
}

#label-speaker-input {
	font-size: 1.25em;
}
#speaker-agenda-inputautocomplete-list {
	position: absolute;
  	background-color: white;
  	padding-left: 20px;
}

.speaker-form {
	height: 66px;
	width: 24%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-flow: row wrap;
}

#speaker-input:focus {
	outline: none;
}

.themes {
	display: flex;
	margin: 16px 0 16px 9px;
}

.theme {
	margin-right: 8px;
	width: 8%;
	height: 50px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
 .red {
 	background: rgb(188, 41, 30);
 }
 .blue {
 	background: rgb(6, 83, 163);

 }

 .black {
	background: rgb(16, 31, 38);
 }

 .purple {
	background: rgb(85, 57, 134);

 }

 .light-green {
	background: rgb(27, 205, 133);
 }

 .yellow {
	background: rgb(251, 221, 0);
 }
 .brown {
	background: rgb(200, 157, 102);
 }
 .pink {
	background: rgb(219, 178, 182);
 }
 .grey {
	background: rgb(63, 64, 66);
 }

.orange {
	background: rgb(241, 122, 32);
}
.green {
	background: rgb(0, 155, 72);
}
.light-blue {
	background: rgb(86, 141, 208);
}

.disable {
	opacity: 0.2;
}

 
 
 
 
 
 
 
.agenda-container {
	display: grid;
	width: 100%;
	grid-template-rows: 1fr;
  	grid-template-columns: 100px repeat(6, 1fr);
}
#timebar {
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 56px repeat(138, 20px);
	border-right: 1px solid grey;
}
.timebar-title {
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.five-min {
	grid-row: auto / span 1;
	grid-column: 1;
	display: flex;
	justify-content: center;
	align-items: baseline;
	border-top:  0.5px solid lightgrey;
}
.room {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 56px repeat(138, 20px);
	border-right: 1px solid grey;
}

.painleve {
	grid-column: 2;

}

.room-title {
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #47D3E5;
	font-weight: bold;
	border-bottom: 1px solid grey;
}

.conference {
	grid-column: 1;	
	color: white;
	font-style: italic;
	display: flex;
	align-items: center;
	padding: 4px 8px;
	box-shadow: 1px 3px 3px lightgrey;
}

.break {
	grid-column: 1;
	background: rgb(158, 84, 30);
	color: white;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 3px 3px lightgrey;
	
}
#conference1 {
	grid-row: 2 / span 6;

}

#conference2 {
	grid-row: 9 / span 12;
}

#conference3 {
	grid-row: 22 / span 6;
}

#conference4 {
	grid-row: 29 / span 4;
}

#break1 {
	grid-row: 33 / span 12;
}

#conference5 {
	grid-row: 46 / span 4;
}

#conference6 {
	grid-row: 51 / span 4;
}

#conference7 {
	grid-row: 56/ span 24;
}

#break2 {
	grid-row: 80 / span 4;
}

#conference8 {
	grid-row:  84 / span 3;
}

#conference9 {
	grid-row:  88 / span 6;
}