.pad-top {
	padding-top: 60px;
}

.speaker {
	width: 150px;
	border-radius: 50%;
}

.book {
	background-color: #eeeeee;
}
.sponsorgold {
	width: 300px;
}

.sponsorsilver {
	width: 200px;
}

.sponsorbronze {
	width: 190px;
	max-height: 120px;
}

.sponsoriron {
	height: 70px;
}

.partner {
	height: 80px;
	margin-bottom: 10px;
}

ul.sponsors li {
	padding: 0 1rem 0rem 0;
}

.ml1 {
	font-weight: 900;
	font-size: 3em;
  }

  .ml1 .letter {
	display: inline-block;
	line-height: 1em;
  }

  .ml1 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.1em;
	padding-right: 0.05em;
	padding-bottom: 0.15em;
  }

  .ml1 .line {
	opacity: 0;
	position: absolute;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #47D3E5;
	transform-origin: 0 0;
  }

  .ml1 .line1 { top: 0; }
	.ml1 .line2 { bottom: 0; }

	table {
		font-size: 0.8rem;
		float:left;
		margin-left:10px;
		width: 200px;
	}

	table td {
    padding: 0.3rem 0.3rem;
	}

	table th {
		padding: 1rem 0.75rem 0.75rem 0.75rem;
	}
