@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");
@import url(navbar.css);
@import url(responsive.css);
@import url(agenda.css);

body {
  margin: 0;
}
body, input, select, textarea, p {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300 !important;
  line-height: 1.65;
  background-color: #ffffff;
  color: #000000;
  margin: 0px;
}

footer {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}

h2, h3, h4, h5 {
  font-weight: 400;
  letter-spacing: -0.05em;
  margin: 0;
  vertical-align: baseline
}

a {
  text-decoration: none;
  color: #101010;
}

hr {
  margin: 0;
}

ul {
  padding: 0px;
}

li{
  list-style-type: none;
  display: inline-block;
}

.icons {
  margin: 0 0 2rem 0;
  display: -webkit-inline-box;
  list-style-type: none;
  padding: 0;
}

#banner {
  display: flex;
  flex-direction: row;
  min-height: 95vh;
}

#banner-content {
  flex: 1 !important;
  padding: 5rem 5rem 3rem 5rem;
}

#banner-content>h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

#logo-countdown-container {
  display: flex;
  align-items: center;
}

.logo {
  border-bottom: solid 3px #47D3E5;
  border-top: solid 3px #47D3E5;
  font-weight: bold;
  text-align: center;
  width: 60px;
  height: 39px;
}

#image {
  flex: 1 !important;
  background-image: url('../../images/main/EthCC-2019.jpeg');
  background-position: center;
  background-size: cover;
  text-align: center;
}

@font-face{
  font-family:'digital-7';
  src: url('../font/digital-7.ttf');
}

#countDown {
  color:  #47D3E5;
  font-size: 48px;
  margin: 0;
}

#countDown>span {
  color: black;
  font-size: 30px;
}

#sponsorSection {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}

.image img {
    display: block;
    border-radius: 4px;
}

.sponsorgold {
  width: 300px;
  margin: auto;
}

.sponsorsilver {
  width: 200px;
}

.sponsorbronze {
  width: 160px;
  max-height: 120px;
}

.sponsorbronze.brainbot {
  width: 120px;
  max-height: 120px;
}

.sponsoriron {
  height: 70px;
}

.partner {
  height: 80px;
  /*width: 140px;*/
}

.icons.sponsors.media {
  padding-top: 1rem;
}

#aboutSection {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}

#player {
  flex: 1;
  overflow: hidden;
}

.youtube {
  height: 100% !important;
}

#aboutContent {
  flex: 1;
  padding: 100px;
}

#aboutSectionBis {
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}

#aboutImageBis {
  flex: 1;
  background-image: url("../../images/main/image-party.jpg");
  background-position: center;
  background-size: cover;
}

#aboutContentBis {
  flex: 1;
  padding: 100px;
}

ul.alt>li {
  padding: 0.5rem;
  border-bottom: solid 1px;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.last-li {
  border-bottom: solid 0px !important;
}

#speakersSection {
  padding-top: 0px;
  text-align: center;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}

#speakersSection>h2 {
  text-align: center;
  padding-top: 1rem;
}

#speakersSectionAll {
  margin-bottom: 40px;
  padding-top: 0px;
  text-align: center;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}

#speakersSectionAll>h2 {
  text-align: center;
  padding-top: 1rem;
}

#speakersSection>button {
  text-align: center;
}

.speaker.picture {
  width: 120px;
  height: 120px;
  border-radius: 50%
}

#speakersRow {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


#speakersRow > * {
  width: 20%;
  text-align: center;
  padding: 24px 0px 0px 0px;
}

#speakersRowAll {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


#speakersRowAll > * {
  width: 20%;
  text-align: center;
  padding: 24px 0px 0px 0px;
}

#showMore {
  margin: 2rem 0;
}

.inner {
  padding: 60px;
  text-align: center;
}


.inner>h2 {
  margin: 24px 0px;
}

.icon {
  border-radius: 2.75em;
  display: inline-block;
  height: 2.75em;
  line-height: 2.75em;
  width: 2.75em;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  text-align: center
}

.icon:hover {
  color: #47D3E5;
  box-shadow: inset 0 0 0 1px #47D3E5;
}

.icons>li {
  padding: 0 0.75rem 0 0;
}
