.container-navbar {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 1px 1px 1px lightgrey;
  z-index: 100;

}

.container-scroll {
  display: flex;
  height: 3px;
}

.blue-scroll {
  width: 120px;
  background: #47D3E5;
}

.grey-scroll {
  width: calc(100% - 120px);
  background: lightgrey;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 0;
}

#logo {
  width: 120px;
  text-align: center;
  font-weight: bold;
  border-bottom: 3px solid #47D3E5;
}

.navbar-actions {
  width: 25%;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.navbar-link {
  text-align: center;
  width: 6em;
  font-size: 1.15em;
  font-weight: 400;
  border: 1px solid #47D3E5;
  background: white;
  color: #47D3E5;
  border-radius: 4px;
  padding: 0px 2px 0px 2px;
  margin-right: 4px;
  transition: 0.2s ease
}

.navbar-link:hover {
  background: #47D3E5;
  color: white;
  border: 1px solid white;
}
