.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 16px 24px;
}

.navbar .brand {
  width: 40px;
}
.navbar img {
  border-radius: 30%;
}

.navbar .navbar-actions {
  display: flex;
  align-items: center;
}

.navbar .navbar-actions .navbar-link {
  margin-left: 24px;
  color: #999999;
}
.navbar .navbar-actions .navbar-link:hover {
  color: #151515;
}


.navbar .navbar-actions .avatar {
  margin-left: 24px;
}

.navbar .dropdown-toggle {
  cursor: pointer;
}
