.container-navbar {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 1px 1px 1px lightgrey;

}

.container-scroll {
  display: flex;
  height: 3px;
}

.blue-scroll {
  width: 120px;
  background: #47D3E5;
}

.grey-scroll {
  width: calc(100% - 120px);
  background: lightgrey;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 0 24px 0 0;
}

#logo {
  width: 120px;
  text-align: center;
  font-weight: bold;
  border-bottom: 3px solid #47D3E5;
}

.navbar-actions {
  width: 25%;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.navbar-link {
  font-size: 1.25em;

}

#btn-agenda {
  text-align: center;
  width: 6em;
  /*background: #47D3E5;*/
  /*color: white;*/
  font-weight: 400;
  border: 2px solid white;
  transition: 0.2s ease
}

#btn-agenda:hover {
  border: 2px solid #47D3E5;
  background: white;
  color: #47D3E5;

