@media screen and (max-width: 1030px) {
  #banner {
    flex-direction: column-reverse !important;
    text-align: center
  }

  #content {
    min-height: 50vh;
  }

  #image {
    min-height: 50vh;
  }

  #banner-content {
    padding: 2rem 5rem 3rem 5rem !important;
  }

  .logo {
    margin: auto;
  }

  #speakersRow>section {
    margin: auto;
  }

  .form {
    width: 60%;
  }
}


@media screen and (max-width: 980px) {
  #aboutContent {
    flex: 3;
    padding: 70px !important;
  }

    #aboutContentBis {
    flex: 3;
    padding: 70px !important;
  }

  #speakersRow > * {
    width: 25% !important;
    text-align: center;
    padding: 24px 0px 0px 0px;
  }

    #speakersRowAll > * {
    width: 25% !important;
    text-align: center;
    padding: 24px 0px 0px 0px;
  }

  .form {
  width: 75%;
  }
}


@media screen and (max-width: 770px) {
  #aboutContent {
    flex: 3;
    padding: 40px !important;
  }

  #aboutContentBis {
    flex: 3;
    padding: 30px !important;
  }

  #speakersRow > * {
    width: 33.3333333% !important;
    text-align: center;
    padding: 24px 0px 0px 0px;
  }

  #speakersRowAll > * {
    width: 33.3333333% !important;
    text-align: center;
    padding: 24px 0px 0px 0px;
  }

  .logo {
    margin: auto;
  }

  ul.alt>li {
    width: 95% !important;
  }

  .autocomplete {
    width: 70%;
  }
}

@media screen and (max-width: 650px) {
  #content {
    padding: 2rem 2rem 1.5rem 2rem !important;
  }
}


@media screen and (max-width: 550px) {
  #aboutSection {
    display: flex;
    flex-direction: column !important;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}

  #aboutSectionBis {
    display: flex;
    flex-direction: column-reverse !important;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}

  #aboutImageBis {
    height: 50vh;
  }

  #speakersRow > * {
    width: 50% !important;
    text-align: center;
    padding: 24px 0px 0px 0px;
  }

  #speakersRowAll > * {
    width: 50% !important;
    text-align: center;
    padding: 24px 0px 0px 0px;
  }

  ul.alt>li {
    width: 80% !important;
  }

  h4 {
    font-size: 2rem !important;
    text-align: center;
  }


  .form {
    display: flex;
    flex-flow: column;
    align-items: center;
    /*margin-top: 20px;*/
  }

  .myInput {
    margin: 20px 0;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    color: #000000 !important;
  }

  .form {
    width: 100%;
    text-align: center;
  }

  .autocomplete {
    width: 95%;
  }

  #reset {
    margin: auto;
    width: 100%;
    margin-bottom: 20px
  }

  #speakerSeaker {
    width: 90%;
    text-align: center;
    margin: auto;
    display: inline-flex;
    flex-direction: column;
  }

  .submit {
    width: 100%;
    margin-bottom: 20px
  }

  .switch {
  position: absolute !important;
  top: 68px !important;
  left: 87% !important;
  }


}

@media screen and (max-width: 420px) {

  body {
    text-align: center;
  }

  #banner-content {
    font-size: 1rem !important;
    padding: 1rem 2rem 2rem 2rem !important;
  }

  #aboutContent {
    padding: 30px !important;
  }

  #aboutContentBis {
    padding: 10px !important;
  }

  #speakersRow > * {
    width: 100% !important;
    text-align: center;
    padding: 24px 0px 0px 0px;
  }

  #speakersRowAll > * {
    width: 100% !important;
    text-align: center;
    padding: 24px 0px 0px 0px;
  }

  .inner {
    padding: 10px !important;
  }


  footer>.inner {
    padding: 20px !important;
  }

  #countDown {
    font-size: 32px !important;
  }

  .form {
    width: 100%;
    text-align: center;
  }

  input.myInput {
    width: 95%;
  }

  .submit {
    width: 100%;
    margin-bottom: 20px
  }

  .autocomplete {
    width: 95%;
  }

  #reset {
    margin: auto;
    width: 100%;
    margin-bottom: 20px
  }

  #speakerSeaker {
    width: 80%;
    text-align: center;
    margin: auto;
    display: inline-flex;
    flex-direction: column;
  }

  footer {
    margin-top: 20px;
  }

  #speakersSectionAll {
    padding-top: 0px;
  }

  .logo {
    height: 38px !important;
  }

  .switch {
  top: 68px !important;
  left: 93% !important;
  }

}
