.fab.fa-twitter-square {
  opacity: 0.3;
  transform: scale(0.7);
}

.fab.fa-twitter-square:hover {
  opacity: 1;
  color: #47D3E5;
}

.name>a:hover {
  text-decoration: underline;
}
/*-----------Toltip----------------*/

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

span.tooltiptext {
  visibility: hidden;
  position: relative;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 27%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.4s;
}

.tooltip span.tooltiptext::after {
  content: "";
  position: absolute;
  top: 101%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

img.speaker.picture:hover {
  transform: scale(1.05);
  transition: all .4s ease-in-out;
}

span.tooltiptext.showTooltip {
  visibility: visible;
  opacity: 0.85;
}

span.tooltiptext.showTooltip>ul>li>a {
  background-color: #47D3E5;
}
